.ice-row{
  margin:0;
  padding:0;
  position:relative;
  height:auto;
  display:block;
  &::before,&::after{
    display:block;
    content:'';
    clear:both;
  }
}

.ice-row-flex{
  display:flex;
  &.ice-row-flex-start{
    justify-content:flex-start;
  }
  &.ice-row-flex-end{
    justify-content:flex-end;
  }
  &.ice-row-flex-center{
    justify-content:center;
  }
  &.ice-row-flex-space-between{
    justify-content:space-between;
  }
  &.ice-row-flex-space-around{
    justify-content:space-around;
  }

  &.ice-row-flex-top{
    align-items:flex-start;
  }
  &.ice-row-flex-middle{
    align-items:center;
  }
  &.ice-row-flex-bottom{
    align-items:flex-end;
  }
}

.ice-col{
  float:left;
  display:block;
  position:relative;
  box-sizing:border-box;
}

.ice-col-span-0{width:0;display:none}
.ice-col-span-1{width:calc(100 / 24 * 1)%}
.ice-col-span-2{width:calc(100 / 24 * 2)%}
.ice-col-span-3{width:calc(100 / 24 * 3)%}
.ice-col-span-4{width:calc(100 / 24 * 4)%}
.ice-col-span-5{width:calc(100 / 24 * 5)%}
.ice-col-span-6{width:calc(100 / 24 * 6)%}
.ice-col-span-7{width:calc(100 / 24 * 7)%}
.ice-col-span-8{width:calc(100 / 24 * 8)%}
.ice-col-span-9{width:calc(100 / 24 * 9)%}
.ice-col-span-10{width:calc(100 / 24 * 10)%}
.ice-col-span-11{width:calc(100 / 24 * 11)%}
.ice-col-span-12{width:calc(100 / 24 * 12)%}
.ice-col-span-13{width:calc(100 / 24 * 13)%}
.ice-col-span-14{width:calc(100 / 24 * 14)%}
.ice-col-span-15{width:calc(100 / 24 * 15)%}
.ice-col-span-16{width:calc(100 / 24 * 16)%}
.ice-col-span-17{width:calc(100 / 24 * 17)%}
.ice-col-span-18{width:calc(100 / 24 * 18)%}
.ice-col-span-19{width:calc(100 / 24 * 19)%}
.ice-col-span-20{width:calc(100 / 24 * 20)%}
.ice-col-span-21{width:calc(100 / 24 * 21)%}
.ice-col-span-22{width:calc(100 / 24 * 22)%}
.ice-col-span-23{width:calc(100 / 24 * 23)%}
.ice-col-span-24{width:calc(100 / 24 * 24)%}